page-profil {

  ion-avatar {
    width: 40%;
    padding-bottom: 15px;
  }

  ion-title {
    padding-bottom: 15px;
  }

  .status {
    font-size: 17px;
  }

  ion-item ion-icon {
    font-size: 15px !important;
    padding-right: 35px;
    padding-top: 8px;
  }

  .square-online {
    color: green;
  }

  .square-busy {
    color: orange;
  }

  .square-offline {
    color: grey;
  }

  ion-content button {
  position: relative;
  top: 40px;
  }

  button ion-icon {
    color: cornflowerblue;
  }

}
