
<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
    <button ion-button clear (click)="showAddContact()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-list-header>Mes Contacts</ion-list-header>
    <div *ngFor="let contact of contacts">
    <button ion-item *ngIf="contact.pseudo !== pseudo" id="contact.id" (click)="goToProfile(contact.id, contact.pseudo, contact.image)">
        <ion-avatar item-start>
            <img src="data:image/jpeg;base64,{{contact.image}}">
          </ion-avatar>
      {{ contact.pseudo }}
    </button></div>
  </ion-list>
</ion-content>
