page-contact {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .square-online {
    color: rgb(101, 216, 101) !important;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 15px;
  }

  .square-offline {
    color: lightgray !important;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 15px;
  }

  .row-avatar {
    margin-bottom: 35px;
  }
}
