<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Salon
    </ion-title>
    <button ion-button small clear slot="secondary" class="usersconnected" (click)="goUsersList()">
      {{ nbUsers }} <ion-icon name="square" class="square-online"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce padding>
  <ion-grid>
    <!-- Boucle qui affiche l'ensemble des messages recus, last représente la fin du tableau messages -->
    <ion-row *ngFor="let message of messages; let last = last">
      <!-- Si le message vient d'un autre utilisateur -->
      <ion-col col-3 *ngIf="message.from !== pseudo" class="message" [ngClass]="'other_message'">
        <ion-avatar item-end><img src="data:image/jpeg;base64,{{ message.avatar }}" class="other_avatar"/></ion-avatar>
        <span class="user_name"><b>{{ message.from }} </b> : </span><br>
        <span *ngIf="message.type == 'text'"> {{ message.text }}</span>
        <img *ngIf="message.type == 'image'" src="data:image/jpeg;base64,{{ message.image }}"/>
        <div class="time"> {{ message.created | date: 'dd/MM HH:mm' }} </div>
      </ion-col>

      <!-- Si le message provient de l'utilisateur -->
      <ion-col offset-4 *ngIf="message.from === pseudo" class="message" [ngClass]="'my_message'">
        <img src="data:image/jpeg;base64,{{ message.avatar }}" class="my_avatar"/>
        <span class="user_name"><b> {{ message.from }} </b>:</span><br>
        <span *ngIf="message.type == 'text'"> {{ message.text }}</span>
        <img *ngIf="message.type == 'image'" src="data:image/jpeg;base64,{{ message.image }}"/>
        <div class="time"> {{ message.created | date: 'dd/MM HH:mm' }} </div>
      </ion-col>
      {{ last ? fin() : ''}}
      <!-- Amène le curseur vers le dernier message  -->
    </ion-row>
  </ion-grid>
  <ion-label *ngIf="typing" class="typing"> {{ typingusername }} écrit ...</ion-label>
</ion-content>

<ion-footer>
  <ion-item no-lines class="footer">
    <ion-textarea type="text" placeholder="Entrer votre message" [(ngModel)]="message" (keypress)="IsTyping()"
      (keyup)="noActivity()" (keyup.enter)="sendMessage()"></ion-textarea>
    <button ion-button clear color="dark" item-end icon-only (click)="openGallery()">
      <ion-icon name="images"></ion-icon>
    </button>
    <button ion-button round outline item-end icon-only color="primary" (click)="sendMessage()"
      [disabled]="message === ''">
      <ion-icon class="send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
